<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/layout :: head}">

  <title>Login</title>
</head>

<body>
  <div th:replace="~{fragments/layout :: header}"></div>
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs  mt-0">
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li>Login</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Login Section ======= -->
    <!-- Login 13 - Bootstrap Brain Component -->
    <section class="bg-light py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-10 col-md-10 col-lg-10 col-xl-5 col-xxl-4">
            <div class="card border border-light-subtle rounded-3 shadow-sm">
              <div class="card-body ">
                <div class="text-center mb-3">
                  <a href="#!">
                    <img src="/assets/img/csi.logo.png" alt="CSI" height="57">
                  </a>
                </div>
                <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Sign in to your account</h2>
                <form id="loginForm" action="javascript:void(0)" onsubmit="">
                  <div class="row gy-2 overflow-hidden">
                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" id="username" required
                          oninput="identityTypeOfInput(this)"  placeholder="Email">
                        <label for="username" class="form-label">Email/Mobile Number/HallTicket
                          Number</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="password" value=""
                          placeholder="Password" required>
                        <label for="password" class="form-label">Password</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-flex gap-2 justify-content-between">

                        <a href="#!" class="link-primary text-decoration-none">Forgot
                          password?</a>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-grid my-3">
                        <button class="btn btn-primary btn-lg" type="submit">Log in</button>
                      </div>
                    </div>
                    <div class="col-12">
                      <p class="m-0 text-secondary text-center">Don't have an account? <a href="/register"
                          class="link-primary text-decoration-none">Sign up</a></p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      function identityTypeOfInput(inputElement) {
        const value = inputElement.value
        if (!value) {
          return
        }
        const changes = {}

        if ((value.startsWith("1303") || value.startsWith("1304")) && value.match("^\\d+$")) {
          changes["type"] = "text"
          changes["name"] = "htnumber"
          changes["label"] = "Hall Ticket Number"
        } else if (value.match("^\\d+$")) {
          changes["type"] = "text"
          changes["name"] = "mobileNumber"
          changes["label"] = "Mobile Number"

        } else {
          changes["type"] = "text"
          changes["name"] = "email"
          changes["label"] = "Email"
        }
        if (inputElement.name != changes["name"] || inputElement.nextElementSibling.textContent != changes["label"]) {
          inputElement.placeholder = changes["label"]
          inputElement.name = changes["name"]
          inputElement.type = changes["type"]
          inputElement.nextElementSibling.textContent = changes["label"]
        }
      }

      function validateForm(form) {
        form.querySelectorAll("input");
      }



    </script>
    <script>
      document.getElementById('loginForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const email = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const headers = new Headers();
        headers.set('Authorization', 'Basic ' + btoa(email + ':' + password));

        fetch('/api/v1/login', { method: 'POST', headers: headers })
          .then(response => {
            if (response.ok) {
              window.location.href = '/';
            } else {
              return response.json()
            }
          })
          .then(x=>alert(`Login failed. ${x.message}`))
          .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again later.');
          });
      });
    </script>
  </main><!-- End #main -->
  <div th:replace="~{fragments/layout :: footer}"></div>

</body>

</html>